@import "../../less/color.less";
@import "../../less/const.less";

.topdrawerheader {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  align-items: center;
  justify-content: space-around;
}
.iconColorheader {
  color: @lightgrey;
}
.oreoheader {
  color: @lightgrey;
}
.iconStyle {
  font-size: 20px;
  padding-right: 3px;
}
.iconStyle2 {
  font-size: 22px;
  padding-right: 3px;
}
.centerStyle {
  display: flex;
  justify-content: center;
}
.homeIconheader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #6572b8;
  border-radius: 30px;
  padding: 5px;
  width: 102px;
  height: 46px;
}
.headerheader {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  padding: 8px 12px;
  position: relative;
}
.header1header {
  margin-top: 15px;
  border: none;
}
.broderPanel {
  border: 1px white solid;
  outline: none;
  box-shadow: white;
}
.headerMainheader {
  font-size: 14px;
  font-weight: @fontWeightH1;
  color: #455a64;
}
.content {
  font-size: 11px;
  font-weight: @fontWeightH1;
  color: #455a64;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartIconheader {
  font-size: 17px;
  color: #6572b8;
  margin-left: 15px;
  margin-right: 10px;
}
.ecommerceheader {
  font-size: 18px;

  color: #6572b8;
  cursor: pointer;
}
.ecommerce1header {
  font-size: 15px;
  color: #455a64;
  font-weight: 400;
  cursor: pointer;
}
.heading {
  font-size: 16px;
  color: #6572b8;
}
.rowWise {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.iconColorAppbar {
  color: white;
  font-size: small;
  size: small;
}
.iconColorAppbar3 {
  color: white;
  font-size: small;
  size: small;
  transition: transform 300ms ease-in-out;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
.alignmentrotate {
  display: flex;
  align-items: center;
  margin-left: 25px;
  -webkit-animation: rotation 2s infinite linear;
}
.alignment {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.inlineBlock {
  display: inline-block;
}
.alignment1 {
  display: flex;
  align-items: center;
  margin-left: 35px;
}
.alignment2 {
  display: flex;
  align-items: center;
  margin-left: 35px;
  background-color: white;
  border: 1px solid white;
  border-radius: 30px;
}
.inputsearch {
  border: 1px solid white;
  border-radius: 30px;
  padding: 12px;
}
.search {
  display: flex;
  background-color: white;
  height: 35px;
  border: 1px solid white;
  border-radius: 30px;
  color: #424242;
  padding: 5px;
}
.blackColor {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 400;
}
.alignment3 {
  display: flex;
  align-items: center;
  padding: 10px;
}
.rowWise1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.rowWise2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.expansionheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.expansion1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.alignmentshow1 {
  display: flex;
}
.rowshow {
  display: flex;
  flex-direction: row;
}
.rowshowalign {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.profileimg {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.profileimgsize {
  width: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
.profilename {
  font-size: 20px;
}
.profilesize {
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.profilesize1 {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.profilesize1column {
  display: flex;
  justify-content: center;
  font-size: 14px;
  flex-direction: column;
}
.para {
  display: flex;
  font-size: 14px;

  font-weight: 400;
  color: @lightgrey;
  justify-content: center;
  margin-left: 20px;
  margin-top: 10px;
}

.stretchRight {
  animation: stretchRight;
  -webkit-animation-name: stretchRight;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -webkit-transform-origin: 0% 0%;
}
@keyframes stretchRight {
  0% {
    transform: scaleX(0.3);
  }
  40% {
    transform: scaleX(1.02);
  }
  60% {
    transform: scaleX(0.98);
  }
  80% {
    transform: scaleX(1.01);
  }
  100% {
    transform: scaleX(0.98);
  }
  80% {
    transform: scaleX(1.01);
  }
  100% {
    transform: scaleX(1);
  }
}

.stretchLeft {
  animation: stretchLeft;
  -webkit-animation-name: stretchLeft;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -webkit-transform-origin: 100% 0%;
}
@keyframes stretchLeft {
  0% {
    transform: scaleX(0.3);
  }
  40% {
    transform: scaleX(1.02);
  }
  60% {
    transform: scaleX(0.98);
  }
  80% {
    transform: scaleX(1.01);
  }
  100% {
    transform: scaleX(0.98);
  }
  80% {
    transform: scaleX(1.01);
  }
  100% {
    transform: scaleX(1);
  }
}
