@import "../../less/color.less";
@import "../../less/minix.less";
.rowchart {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  background-color: #94a2f0;
  height: 150px;
  padding: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productSizechart {
  height: 67px;
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.productColorchart {
  font-size: 23px;
  color: rgb(255, 255, 255);
}
.productWelcomechart {
  font-size: 14px;
  color: white;
}
.productNamechart {
  min-width: 770px;
  max-width: 100%;
}
.pathchart {
  width: 300px;
  border-radius: 50px;
  background-color: #b8c0e2;
}
.homeIcon1chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 30px;
  padding: 5px;
  height: 46px;
  margin-left: 12px;
}
.oreo1chart {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.iconHomeColorchart {
  color: white;
  margin-right: 5px;
}
.wordStylechart {
  color: @lightgrey;
  margin-left: 7px;
  font-size: 17px;
}
.wordStyle1chart {
  margin-left: 5px;
  font-size: 17px;
  margin-left: 7px;
}
.containerFluidchart {
  width: 77%;
  display: flex;
  z-index: 3;
  top: 11em;
  position: absolute;
  justify-content: center;
  margin-bottom: 20px;
}
.rowFlexchart {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.rowFlexchart11 {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}
.rowFlex1chart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  width: 95%;
  margin-left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rowFlex1chart22 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  margin-left: 20px;
  height: 208px;
  width: 319px;
  opacity: 0.9;
  margin-top: 0px;
  border: 1px white solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rowFlex1chart225 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  margin-left: 0px;
  height: 208px;
  width: 319px;
  opacity: 0.9;
  border: 1px white solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.colchart {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.productItemchart {
  background-color: white;
  box-shadow: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.bodychart {
  color: #424242;
  font-weight: 400;
  font-size: 14px;
}
.imgFolderchart {
  padding: 5px;
  display: flex;
  z-index: 5;
  position: relative;
  justify-content: center;
}
.imgFoldershowchart {
  padding: 5px;
  display: flex;
  z-index: 5;
  justify-content: center;
}
.imgSizechart {
  width: 209px;
  height: 209px;
}
.imgSizeshowchart {
  width: 170px;
  height: 170px;
  transform: scale(1.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.productnamechart {
  display: flex;
  justify-content: center;
}
.columnProductchart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rowProductchart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.firstcontainerchart {
  display: flex;
  justify-content: center;
}

.hoverbuttonchart {
  z-index: 3;
  top: 1.5em;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}
.hoverbutton1chart {
  visibility: hidden;
  z-index: 3;
  top: 1.5em;
  position: relative;
  display: flex;
  flex-direction: row;
}
.imgFolder:hover .hoverbutton {
  visibility: visible;
  background-color: yellowgreen;
}
.buttoncolorchart {
  background-color: #94a2f0;
}
.bobychart {
  display: flex;
  justify-content: center;
}

.rowTopchart {
  display: flex;
  flex-direction: row;
}
.rowTopchart11 {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.productstyle {
  color: #94a2f0;
  font-size: 15px;
}
.reportstyle {
  color: #424242;
  margin-left: 10px;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
}
.rowTopchart1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.colD {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}
.boxD {
  width: 50px;
  height: 50px;
  background-color: #eceeef;
}
.rowD {
  display: flex;
  flex-direction: row;
  min-width: 310px;
  padding: 5px;
  flex-wrap: wrap;
}
.RowWiswD {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.amountD {
  display: flex;
  font-size: 20px;
  margin-top: 10px;
  align-items: center;
  font-weight: 600;
}
.amountStyle {
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
}
.rowTopchart12 {
  display: flex;
  flex-direction: row;
}
.insidechartbody {
  width: 680px;
}
.rowFlex1chart23 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 20px;
}
.rowFlex1chart235 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 0px;
  width: 700px;
}
.circlechart {
  width: 319px;
}
.satification {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.alignment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardImgsize {
  width: 60px;
  height: 60px;
  border-radius: 2px;
}
.alignment1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.textproperty {
  text-overflow: clip;
  width: "540px";
  overflow: hidden;
}
.gradient {
  display: flex;
  justify-content: center;
  min-width: 312px;
  height: 150px;
  background: linear-gradient(45deg, #a890d3, #edbae7);
}
.widthvalue {
  width: 100%;
}
.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  margin-top: 25%;
}
.facebookiconImg {
  width: 28px;
  height: 28px;
}
.instaiconImg {
  width: 28px;
  height: 28px;
}
.twittericonImg {
  width: 28px;
  height: 28px;
}
.iconImagerow {
  margin-top: 30%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.rowTopchart123 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.centerpara {
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: @lightgrey;
  margin-bottom: 5px;
}
.lastrow {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  color: rgb(85, 83, 83);
}
.columnflex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.rowImage {
  display: flex;
  flex-direction: row;
}
.rowImage1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rowImage2 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.mapSize {
  height: 400px;
  width: 650px;
  margin-top: 10px;
  border-radius: 3px;
}
.rowFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
}
.chart1 {
  width: 100%;
  height: 440px;
  margin-top: 50px;
  position: relative;
  justify-content: center;
}
.chart2 {
  width: 100%;
  height: 342px;
  margin-top: 10px;
  position: relative;
}
.chartCurvedata {
  width: 90%;
  height: 440px;
  margin-top: 30px;
  position: relative;
}
.colorStyle {
  color: #888;
}
.chartStyle {
  width: 320px;
  height: 40px;
}
.chart2Style {
  width: 200px;
  height: 40px;
}
.marginStyle {
  margin-top: 20px;
}
.tableHeading {
  width: 70px;
  height: 47px;
}
.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}
.reviewCointer {
  margin-left: 10px;
  width: 100%;
  margin-right: 10px;
}
.greenStyle {
  border: 1px solid;
  padding: 3px;
  font-size: 11px;
  color: rgb(20, 246, 58);
}
.orangeStyle {
  border: 1px solid;
  padding: 3px;
  font-size: 11px;
  color: #fd7e14;
}
.greyStyle {
  border: 1px solid;
  padding: 3px;
  font-size: 11px;
  color: #888;
}
.hashStyle {
  width: 60px;
  height: 47px;
}
.nameStyle {
  width: 98px;
  height: 47px;
}
.itemStyle {
  width: 163px;
  height: 47px;
}
.addressStyle {
  widows: 449px;
  height: 47px;
}
.qualityStyle {
  width: 113px;
  height: 47px;
}
.statusStyle {
  width: 60px;
  height: 47px;
}
.greyBoxStyle {
  width: 40px;
  height: 33px;
  background-color: "rgb(204,204,204)";
}
.blackBar {
  margin-top: 20px;
  justify-content: center;
  display: flex;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .rowFlex1chart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .rowFlexchart11 {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .rowFlexchart {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    height: 800px;
  }
  .rowFlex1chart225 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin-left: 20px;
    height: 208px;
    width: 329px;
    opacity: 0.9;
    border: 1px white solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .rowFlex1chart22 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin-left: 20px;
    height: 208px;
    width: 329px;
    margin-top: 20px;
    opacity: 0.9;
    border: 1px white solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .mapSize {
    height: 400px;
    width: 330px;
    margin-top: 10px;
    border-radius: 3px;
  }
  .rowFlex1chart235 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
    width: 380px;
  }
  .rowFlex1chart23 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
    margin-top: 20px;
    width: 312px;
  }
  .chart2 {
    width: 50%;
    height: 342px;
    margin-top: 10px;
    position: relative;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {
    background: green;
  }
  .rowFlexchart11 {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .chart1 {
    width: 90%;
    height: 400px;
    margin-top: 30px;
    position: relative;
  }
  .rowFlex1chart225 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin-left: 20px;
    height: 208px;
    width: 329px;
    opacity: 0.9;
    border: 1px white solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .rowFlex1chart22 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin-left: 20px;
    height: 208px;
    width: 329px;
    opacity: 0.9;
    margin-top: 20px;
    border: 1px white solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .mapSize {
    height: 400px;
    width: 430px;
    margin-top: 10px;
    border-radius: 3px;
  }
  .rowFlex1chart235 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 0px;
    width: 480px;
  }
  .rowFlex1chart23 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 0px;
    margin-top: 20px;
    width: 312px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {
    background: blue;
  }
  .rowFlexchart11 {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .rowFlex1chart225 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin-left: 20px;
    height: 208px;
    width: 329px;
    opacity: 0.9;
    border: 1px white solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .rowFlex1chart22 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin-left: 20px;
    height: 208px;
    width: 329px;
    opacity: 0.9;
    border: 1px white solid;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .chart1 {
    width: 90%;
    height: 440px;
    margin-top: 30px;
    position: relative;
  }

  .mapSize {
    height: 400px;
    width: 530px;
    margin-top: 10px;
    border-radius: 3px;
  }
  .rowFlex1chart235 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
    width: 580px;
  }
  .rowFlex1chart23 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
    margin-top: 20px;
    width: 312px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {
    background: orange;
  }
  .rowFlexchart11 {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .rowFlex1chart225 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin-left: 20px;
    height: 208px;
    width: 329px;
    opacity: 0.9;
    border: 1px white solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .rowFlex1chart22 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin-left: 20px;
    height: 208px;
    width: 329px;
    opacity: 0.9;
    margin-top: 20px;
    border: 1px white solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .chart1 {
    width: 90%;
    height: 440px;
    margin-top: 30px;
    position: relative;
  }
  .mapSize {
    height: 400px;
    width: 530px;
    margin-top: 10px;
    border-radius: 3px;
  }
  .rowFlex1chart235 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 0px;
    width: 580px;
  }
  .rowFlex1chart23 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 0px;
    margin-top: 20px;
    width: 312px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  .example {
    background: pink;
  }
  .rowFlexchart11 {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }
  .rowFlex1chart225 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin-left: 0px;
    height: 208px;
    width: 319px;
    opacity: 0.9;
    margin-top: 20px;
    border: 1px white solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .rowFlex1chart22 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin-top: 20px;
    margin-left: 18px;
    height: 208px;
    width: 319px;
    opacity: 0.9;
    border: 1px white solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .chart1 {
    width: 90%;
    height: 440px;
    margin-top: 50px;
    position: relative;
  }
  .mapSize {
    height: 400px;
    width: 630px;
    margin-top: 10px;
    border-radius: 3px;
  }
  .rowFlex1chart235 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 0px;
    width: 63%;
  }
  .rowFlex1chart23 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
    margin-top: 0px;
    width: 312px;
  }
  .rowFlex1chart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    width: 95%;
    margin-left: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
