.rowP{
    margin-top: 64px;
    display:flex;
    flex-direction: row;
    // align-items: center;
    background-color: #94a2f0;
    height: 150px;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.productSizeP{
    height: 67px;
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.productColorP{
    // font-family:lato;
    font-size: 23px;
    color : white
}
.productWelcomeP{
    // font-family: lato,monospace;
    font-size: 14px;
    color : white

}
.productNameP{
    min-width: 619px;
    max-width: 100%;
}
.pathP{
    min-width: 450px;
    // max-width: 450px;
    // border-radius: 50px;
    // background-color: #b8c0e2;
    // margin-left: 150px;
    display: flex;
    justify-content: flex-end;
}
.homeIcon1P{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    // border: 1px solid #aab3e7;
    background-color: #b8c0e2;
    border-radius: 30px;
    padding: 5px;
    min-width: 300px;
    max-width: 350px;
    height: 46px;
    margin-left: 12px;
}
.oreo1{
    // font-family: "Montserrat",sans-serif;   
    color : white;
    // min-width: 300px;
    // max-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.iconHomeColorP{
    color:white;
    margin-right: 5px ;
}
.wordStyle{
    color: #888;
    margin-left: 7px;
    font-size: 17px;
    // font-family:lato;   


}
.wordStyle1{
    margin-left: 5px;
    font-size: 17px;
    margin-left: 7px;
    // font-family: lato;   


    // color: #888;
}
.containerFluid{
    // width: 82%;
    display: flex;
    flex-wrap:wrap ;
    // padding: 15px;
    justify-content: center;
    z-index: 3;
    top:11em;
    position: absolute;
    justify-content: center;
    // background-color: orange;
}
.rowFlex{
    display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    width: 100%;
    justify-content: center;
}
.rowFlex1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // width: 100%;
    // justify-content: center;
}
.col{
    // max-width: 25%;
    // position: relative;
    display : flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    // background-color: red;
    
}
.productItem{
    background-color: white;
    width: 249px;
    height : 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding:10px;
    
}
.body{
    color: #424242;
    font-weight: 400;
    // padding: 20px;
    font-size: 14px;
}
.imgFolder{
    // width : 239px;
    // height: 239px;
    padding : 5px;
    display: flex;
    z-index: 5;
    position: relative;
    justify-content: center;
}
.imgFoldershow{
    padding : 5px;
    display: flex;
    z-index: 5;
    // top:1em;
    // position: absolute;
    justify-content: center;

}
.imgSize{
    width : 209px;
    height: 209px;
}
.imgSizeshow{
    width : 170px;
    height: 170px;
    transform: scale(1.3);

    // z-index: 3;
    // top:-1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // transition: 1s;
    

}
.productname{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 540;
    // font-family: "Montserrat",sans-serif,monospace;   


}
.columnProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.rowProduct{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.firstcontainer{
    display: flex;
    // width : 100%;
    // background-color: yellow;
}

.hoverbutton{
    // visibility: hidden;
    // margin: 0 auto;
    // overflow: hidden;
    // display: none;
    // visibility: hidden;
    z-index: 3;
    top:1.5em;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    padding: 5px;
    // background-color: yellowgreen;
    // margin-top: 10px;
}
.hoverbutton1{
    // visibility: hidden;
    // margin: 0 auto;
    // overflow: hidden;
    // display: none;
    visibility: hidden;
    z-index: 3;
    top:1.5em;
    position: relative;
    display: flex;
    flex-direction: row;
    
    // background-color: yellowgreen;
    // margin-top: 10px;
}
.imgFolder:hover .hoverbutton{ 
    // display:block;
    visibility: visible;
    background-color: yellowgreen;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color:yellowgreen;
    width: 20px;
    height: 20px;
}
.buttoncolor{
    background-color: #94a2f0;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40px;
    border-radius: 3px;
    // margin-top: 7px;
    // height: 10px;
    // padding : 5px;
}







/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    // .example {background: red;}
    .rowP{
        margin-top: 64px;
        display:flex;
        flex-direction: row;
        // align-items: center;
        // background-color: red;
        height: 150px;
        padding: 20px;
        justify-content: space-between;
        // width: 100%;
        flex-wrap: wrap;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .example {background: green;}
    .rowP{
        margin-top: 64px;
        display:flex;
        flex-direction: row;
        // align-items: center;
        // background-color: green;
        height: 150px;
        padding: 20px;
        justify-content: space-between;
        // width: 100%;
        flex-wrap: wrap;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {background: blue;}
    .productItem{
        background-color: white;
        width: 450px;
        height : 300px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding:8px;
        
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
    .productItem{
        background-color: white;
        width: 345px;
        height : 300px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding:8px;
        
    }
    .imgSize{
        width : 209px;
        height: 209px;
    }
    .imgSizeshow{
        width : 170px;
        height: 170px;
        transform: scale(1.3);
    
        // z-index: 3;
        // top:-1em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        // transition: 1s;
        
    
    }
   
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example {background: pink;}
    .productItem{
        background-color: white;
        width: 249px;
        height : 300px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding:10px;
        
    }
    .imgSize{
    width : 209px;
    height: 209px;
}
.imgSizeshow{
    width : 170px;
    height: 170px;
    transform: scale(1.3);

    // z-index: 3;
    // top:-1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // transition: 1s;
    

}
  }

  