.rowP{
    margin-top: 64px;
    display:flex;
    flex-direction: row;
    // align-items: center;
    background-color: #94a2f0;
    height: 150px;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
}
.productSizeP{
    height: 67px;
    display: flex;
    align-items: flex-start;
}
.productColorP{
    font-family:lato;
    font-size: 23px;
    color : white
}
.productWelcomeP{
    font-family: lato,monospace;
    font-size: 14px;
    color : white

}
.productNameP{
    width: 629px;
}
.pathP{
    width: 300px;
    border-radius: 50px;
    background-color: #b8c0e2;
    // margin-left: 150px;
}
.homeIcon1P{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    // border: 1px solid #aab3e7;
    border-radius: 30px;
    padding: 5px;
    // width: 350px;
    height: 46px;
    margin-left: 12px;
}
.oreo1{
    font-family: "Montserrat",sans-serif;   
    color : white;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.iconHomeColorP{
    color:white;
    margin-right: 5px ;
}
.wordStyle{
    color: #888;
    margin-left: 7px;
    font-size: 17px;
    font-family: "Montserrat",sans-serif,monospace;   


}
.wordStyle1{
    margin-left: 5px;
    font-size: 17px;
    margin-left: 7px;
    font-family: "Montserrat",sans-serif,monospace;   


    // color: #888;
}
.containerFluid{
    width: 100%;
    padding: 15px;
}
.rowFlex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.col{
    max-width: 25%;
    position: relative;
    width: 100%;
    
}
.productItem{
    background-color: white;
    width: 100%;
    box-shadow: none;
}
.body{
    color: #424242;
    font-weight: 400;
    padding: 20px;
    font-size: 14px;
}
.imgFolder{

}