@import "../../less/color.less";
@import "../../less/const.less";

.topdrawer {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  align-items: center;
  justify-content: space-around;
}
.iconColor {
  color: @lightgrey;
}
.oreo {
  color: @lightgrey;
}
.homeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #6572b8;
  border-radius: 30px;
  padding: 5px;
  width: 102px;
  height: 46px;
}
.header {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  padding: 8px 12px;
  position: relative;
}
.header1 {
  margin-top: 15px;
  border: none;
}
.broderPanel {
  border: 1px @white solid;
  outline: none;
  box-shadow: @white;
}
.headerMain {
  font-size: 11px;
  font-weight: @fontWeightH1;
  color: #455a64;
}
.content {
  font-size: 11px;
  font-weight: @fontWeightH1;
  color: #455a64;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartIcon {
  font-size: 17px;
  color: #6572b8;
  margin-left: 15px;
  margin-right: 10px;
}
.ecommerce {
  font-size: 20px;

  color: #6572b8;
  cursor: pointer;
}
.ecommerce1 {
  font-size: 15px;
  color: #455a64;
  font-weight: @fontWeightH2;
  cursor: pointer;
}
.heading {
  font-size: 16px;
  color: #6572b8;
}
.rowWise {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.iconColorAppbar {
  color: @white;
  font-size: small;
  size: small;
}
.iconColorAppbar3 {
  color: @white;
  font-size: small;
  size: small;
  transition: transform 300ms ease-in-out;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
.alignmentrotate {
  display: flex;
  align-items: center;
  margin-left: 25px;
  -webkit-animation: rotation 2s infinite linear;
}
.alignment {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.inlineBlock {
  display: inline-block;
}
.alignment1 {
  display: flex;
  align-items: center;
  margin-left: 35px;
}
.alignment2 {
  display: flex;
  align-items: center;
  margin-left: 35px;
  background-color: @white;
  border: 1px solid @white;
  border-radius: 30px;
}
.inputsearch {
  border: 1px solid @white;
  border-radius: 30px;
  padding: 12px;
  outline: none;
  border: none;
}
.search {
  display: flex;
  background-color: @white;
  height: 35px;
  border: 1px solid @white;
  border-radius: 30px;
  color: #424242;
  padding: 5px;
}
.blackColor {
  display: flex;
  align-items: center;
  color: black;
  font-weight: @fontWeightH2;
}
.alignment3 {
  display: flex;
  align-items: center;
  padding: 10px;
}
.rowWise1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.rowWise2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}
.expansion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.expansion1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.alignmentshow1 {
  display: flex;
}
.rowshow {
  display: flex;
  flex-direction: row;
}
.notify .heartbit {
  -webkit-border-radius: 70px;
  position: absolute;
  top: -20px;
  right: -16px;
  height: 25px;
  width: 25px;
  z-index: 10;
  border: 4px solid;
  border-color: #455a64;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation: heartbeat 0.75s ease-out infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.1);
  }
  20% {
    transform: scale(0.15);
  }
  30% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(0.4);
  }
  60% {
    transform: scale(0.5);
  }
  70% {
    transform: scale(0.6);
  }
  80% {
    transform: scale(0.7);
  }
  90% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.8);
  }
}
.notify {
  position: absolute;
  top: 8px;
  margin-left: 16px;
}
.notify .point {
  border-radius: 30px;
  width: 6px;
  height: 6px;
  background-color: #3d4c5a;
  position: absolute;
  right: -6px;
  top: -10px;
}

.alignmentrotate {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.notificationrotate {
  display: flex;
  flex-direction: row;
  position: fixed;
}
.fontStyle {
  font-size: 18px;
}
